* {
    margin:0;
    padding:0;
}
html {
    font-family: Roboto, sans-sherif;
    width: 100%vw;
    height:auto;
    background-image: url("wall5.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position: bottom;
    color:white;
    font-size:16px;
}
nav {
    height:10vh;
}

#menu {
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100%;
    -webkit-animation: slide 4s ease-out both;
	        animation: slide 4s ease-out both;
}

@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(-1500px);
        transform: translateX(-1500px);
        opacity: 0;
     }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        }
}

 @keyframes slide {
    0% {
        -webkit-transform: translateX(-1500px);
        transform: translateX(-1500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
      
}

.list {
    margin-right: 4vw;
}

.link {
    text-decoration: none;
    color:white;
    padding:9px;
    font-weight: bold;
}

.link:hover {
    background-color: black;
    border-radius: 5px;
}

header {
    height:90vh;
    text-align: center;
}

#name {
    font-family: "Leckerli One", Roboto, sans-sherif;
    padding:30vh 0 5vh 0;
    font-size: 6vw;
    font-weight: bold;
}

.title {
    font-size:2.5vw;
}

#arrow {
    margin-top: 130px;
    display: inline-block;
}

#work {
    height:auto;
    background-color:white;
    color:black;
    text-align: center;
    padding:50px 0 50px 0;
}

#about p {
    line-height: 2em;
    margin:0 20vw 0 20vw;
}

#about {
    background-color: rgb(0,0,0, 0.4);
    width:80%;
    margin:auto;
    margin-bottom:30px;
    color:white;
    text-align: center;
    padding:50px 0 50px 0;
    border-radius:5px;
}
.img {
   max-width:100%;
   height:auto;
   overflow:hidden;
   padding:30px 10px 0px 10px;
   transition: transform 1s ease-in-out;
}

.img:hover {
    opacity:0.3;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

#contact {
    text-align: center;
    height:auto;
    padding:50px 0 50px 0;
}

form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:3vw;
    text-align:left;
    margin-left:20vw;
    margin-right:20vw;
    box-sizing:border-box;
}

input {
    background-color:transparent;
    border-radius:5px;
    border: 1px solid white;
    padding:10px;
    color:white;
}

#message {
    grid-column:1/3;
    height:40px;
}

#send {
    background-color:white;
    color:black;
    cursor:pointer;
}

#reset {
    cursor:pointer;
    color:white;
}

footer {
    display:flex;
    padding:20px;
    font-size:13px;
    height:10vh;
    align-items:center;
}

.icon {
    color:white;
    font-size:36px;
    margin-left:30px;
}

#git:hover {
    color: #F4CBB2;
}

#fb:hover {
    color:#3b5998;
}

#linked:hover {
    color:#2867B2;
}

#mail:hover {
    color:#DB4437;
}

footer p {
    margin-left:auto;
}

@media only screen and (max-width: 600px) {
   #name {
       font-size:14vw;
   }
   .title, #arrow {
       font-size:16px;
   }
   .icon {
       font-size:16px;
       margin:4vw;
   }
   .img {
       max-width:80%;
   }
   form {
       margin:0px;
   }
   input {
       padding: 10px 0 10px 0;	   
   }
}
